* {
    margin: 0;
    padding: 0;
}

a {
    pointer-events: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-container {
    width: 100vh;
    height: 100vw;
    position: absolute;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y proximity;
}

::-webkit-scrollbar {
    display: none;
}

.content-container {
    display: flex;
    flex-direction: row;
    width: 600vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.content-block {
    position: relative;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
}

.progress-bar-container {
    position: absolute;
    width: 600vw;
    height: 5px;
    z-index: 10;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(45deg, #ffffff, #FFFDD0, #FFFFF0);
    background-size: 600% 100%;
    animation: gradient 14s ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.home {
    background: url("images/space.jpg") center center no-repeat local;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

.intro-opening {
    background:#000 url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat top center;
    overflow: hidden;
}

.projects {
    background-color: #269;
    background-image:
        linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
        linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.work {
    background: url("images/baby-yoda.png");
    background-size: 22%;
    background-repeat: round;
    display: flex;
}

.hobbies {
    background: url("images/aboutME.jpg") center center no-repeat local;
}

.about {
    background: url("images/aboutME.jpg") center center no-repeat local;
    background-size: cover;
}

.gradient-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(111, 0, 0, 0.3), rgba(11, 11, 0, 0.2), rgba(24, 0, 69, 0.25));
}

.death-star-container {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
}

.death-star {
    width: 10.5vw;
    height: 10.5vw;
    filter: blur(0.01em) brightness(0.79);
}

.death-star:hover {
    filter: drop-shadow(0 0 28px rgba(188, 0, 0, 0.9));
}

.millenium-falcon-container {
    position: absolute;
    margin: auto;
    left: 39%;
    top: 62%;
    transform: translate(-61%, -38%) scaleX(-1) rotate(79deg) !important;
}

.millenium-falcon {
    width: 7.5vw;
    height: 7.5vw;
    filter: blur(0.025em) brightness(0.66);
}

.millenium-falcon:hover {
    filter: drop-shadow(0 0 28px rgba(255, 255, 0, 0.9));
}

.left-tie-container {
    position: absolute;
    margin: auto;
    left: 22%;
    top: 32%;
    transform: translate(-78%, -68%) scaleX(-1) rotate(3deg) !important;
}

.left-tie {
    width: 20vw;
    height: 20vw;
    filter: blur(0.04em) brightness(0.69);
}

.left-tie:hover {
    filter: drop-shadow(0 0 42px rgba(0, 200, 0, 0.9));
}

.right-tie-container {
    position: absolute;
    margin: auto;
    left: 75%;
    top: 68%;
    transform: translate(-25%, -42%) rotate(-6deg) !important;
}

.right-tie {
    width: 28vw;
    height: 28vw;
    filter: blur(0.02em) brightness(0.82);
}

.right-tie:hover {
    filter: drop-shadow(0 0 42px rgba(141, 0, 231, 0.9));
}

.x-wing-container {
    position: absolute;
    margin: auto;
    left: 68%;
    top: 38%;
    transform: translate(-32%, -62%) rotate(-3deg) !important;
}

.x-wing {
    width: 16vw;
    height: 16vw;
    filter: blur(0.035em) brightness(0.72);
}

.x-wing:hover {
    filter: drop-shadow(0 0 28px rgba(0, 0, 255, 1.4)) brightness(1);
}

.description-container {
    position: absolute;
    margin: auto;
    left: 4%;
    bottom: 8%;
    display: flex;
    flex-direction: column;
    font-family: "Oswald", sans-serif;
    color: white;
}

.description-title {
    font-size: 48px;
    font-weight: 500;
}

.description-subtitle {
    font-size: 36px;
    font-weight: 400;
}

.anchor-title {
    font-size: 56px;
    font-weight: 500;
    font-style: italic;
}

.nav-container {
    position: fixed;
    top: 4%;
    display: flex;
    padding: 0 7px 0 7px;
    border-radius: 4px;
    background: rgba(112, 118, 134, 0.8);
    opacity: 0.5;
    z-index: 10;
}

.nav-container:hover {
    opacity: 1;
}

.arrow {
    height: 2vw;
    width: 2vw;
    filter: brightness(0) invert(0.8);
}

.arrow:hover {
    filter: brightness(0) invert(1);
}

.left-arrow {
    transform: rotate(-90deg);
}

.right-arrow {
    transform: rotate(90deg);
}

.home-arrow {
    height: 5vw;
    width: 7vw;
}

.star-wars-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 600%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.crawl-animation {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear 18s;
    opacity: 0;
}

.crawl-animation>.title {
    font-size: 90%;
    text-align: center;
}

.crawl-animation>.title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
}

@keyframes crawl {
    0% {
        top: -100px;
        transform: rotateX(20deg) translateZ(0);
        opacity: 1;
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
        opacity: 1;
    }
}

.intro-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 16em;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    animation: intro 4s ease-out 1s;
    color: rgb(75, 213, 238);
    font-weight: 400;
    font-size: 300%;
    opacity: 0;
    z-index: 2;
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.star-wars-logo {
    position: absolute;
    width: 2.6em;
    left: 50%;
    top: 20vh;
    font-size: 10em;
    text-align: center;
    margin-left: -1.3em;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    color: #000;
    text-shadow: -2px -2px 0 #EBD71C, 2px -2px 0 #EBD71C, -2px 2px 0 #EBD71C, 2px 2px 0 #EBD71C;
    opacity: 0;
    z-index: 2;
    animation: logo 9s ease-out 9s;
}

.star-wars-logo img {
    max-width: 100%;
}

@keyframes logo {
    0% {
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(0.1);
        opacity: 0;
    }
}

.fade {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
    opacity: 0.3;
}

.twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.twinkling {
    background:transparent url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png) repeat top center;
    z-index: 1;
    animation: move-twink-back 500s linear infinite;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

.intro-controls-container {
    position: absolute;
    top: 4%;
    left: 4%;
    display: flex;
    padding: 7px;
    border-radius: 4px;
    background: rgba(112, 118, 134, 0.8);
    opacity: 0.5;
    z-index: 10;
}

.intro-controls-container:hover {
    opacity: 1;
}

.control-btn {
    width: 3vw;
    filter: brightness(0) invert(0.8);
    cursor: pointer;
}

.control-btn:hover {
    filter: brightness(0) invert(1);
}

.control-btn:first-child {
    padding-right: 0.3vw;
}

.hidden {
    display: none;
}

.star {
    background-color: white;
    position: absolute;
    opacity: 0.5;
    background: linear-gradient(-45deg, #F5F5DC, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 6px #F5F5DC);
    animation: tail 7000ms ease-in-out infinite, shooting 7000ms ease-in-out infinite;
    width: 45px;
    height: 2px;
}

.star::before, .star::after {
    position: absolute;
    content: '';
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #F5F5DC, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 7000ms ease-in-out infinite;
}

.star::after {
    transform: translateX(50%) rotateZ(-45deg);
}

.star-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}
  
@keyframes shining {
    0% {
        width: 0;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}
  
@keyframes shooting {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(320px);
    }
}

.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    overflow-y: scroll;
}

.projects-title {
    font-size: 32px;
    font-family: "Oswald", sans-serif;
    color: white;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px dashed white;
}

.projects-subtitle {
    font-size: 26px;
    font-family: "Oswald", sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.subtitle-offset {
    margin-top: 2%;
}

.projects-description-container {
    display: flex;
    flex-direction: column;
    height: 86%;
    width: 96%;
    margin: 2%
}

.projects-description-top {
    height: 70%;
    border-radius: 5px;
    border: 3px dashed white;
}

.projects-description-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top left;
}

.projects-description-bottom {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: 1% 10% 2% 2%;
}

.projects-border-bottom {
    border-bottom: 2px dashed white;
}

.blaster-container {
    position: absolute;
    bottom: 8%;
    right: -12%;
    z-index: 2;
    transform: rotate(-55deg) !important;
    pointer-events: auto !important;
    transition: opacity 0.4s ease-out;
    cursor: pointer;
}

.blaster-container:hover {
    opacity: 0.2;
}

.blaster {
    height: 22vw;
    filter: blur(0.05em) brightness(0.89);
    transition: transform 0.8s ease-out;
}

.link-container {
    margin-top: 2%;
    display: flex
}

.project-link-button {
    height: 3vw;
    transition: filter 0.1s ease-in-out;
    filter: brightness(0) invert(0.8);
    cursor: pointer;
    padding-right: 4%;
}

.project-link-button:hover {
    filter: brightness(0) invert(1);
}

.work-container {
    display: flex;
    width: 48%;
    margin: 0 2%;
}