* {
    margin: 0; padding: 0;
}

a {
    pointer-events: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-container {
    width: 100vh;
    height: 100vw;
    position: absolute;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.content-container {
    display: flex;
    flex-direction: row;
    width: 600vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.content-block {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.progress-bar-container {
    position: absolute;
    width: 600vw;
    height: 5px;
    z-index: 10;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: linear-gradient(45deg, #ffffff, #FFFDD0, #FFFFF0);
    background-size: 600% 100%;
    animation: gradient 14s ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.home {
    background: url("images/space.jpg") center center no-repeat local;
}

.about {
    background: url("images/aboutME.jpg") center center no-repeat local;
}

.projects {
    background: url("images/aboutME.jpg") center center no-repeat local;
}

.work {
    background: url("images/aboutME.jpg") center center no-repeat local;
}

.hobbies {
    background: url("images/aboutME.jpg") center center no-repeat local;
}

.social {
    background: url("images/space.jpg") center center no-repeat local;
}

.gradient-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(111, 0, 0, 0.3), rgba(11, 11, 0, 0.2), rgba(24, 0, 69, 0.25));
}

.death-star-container {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
}

.death-star {
    width: 10.5vw;
    height: 10.5vw;
    filter: blur(0.01em) brightness(0.79);
}

.death-star:hover {
    filter: drop-shadow(0 0 28px rgba(188, 0, 0, 0.9));
}

.millenium-falcon-container {
    position: absolute;
    margin: auto;
    left: 39%;
    top: 62%;
    transform: translate(-61%, -38%) scaleX(-1) rotate(79deg) !important;
}

.millenium-falcon {
    width: 7.5vw;
    height: 7.5vw;
    filter: blur(0.025em) brightness(0.66);
}

.millenium-falcon:hover {
    filter: drop-shadow(0 0 28px rgba(255, 255, 0, 0.9));
}

.left-tie-container {
    position: absolute;
    margin: auto;
    left: 22%;
    top: 32%;
    transform: translate(-78%, -68%) scaleX(-1) rotate(3deg) !important;
}

.left-tie {
    width: 20vw;
    height: 20vw;
    filter: blur(0.04em) brightness(0.69);
}

.left-tie:hover {
    filter: drop-shadow(0 0 42px rgba(0, 200, 0, 0.9));
}

.right-tie-container {
    position: absolute;
    margin: auto;
    left: 75%;
    top: 68%;
    transform: translate(-25%, -42%) rotate(-6deg) !important;
}

.right-tie {
    width: 28vw;
    height: 28vw;
    filter: blur(0.02em) brightness(0.82);
}

.right-tie:hover {
    filter: drop-shadow(0 0 42px rgba(141, 0, 231, 0.9));
}

.x-wing-container {
    position: absolute;
    margin: auto;
    left: 68%;
    top: 38%;
    transform: translate(-32%, -62%) rotate(-3deg) !important;
}

.x-wing {
    width: 16vw;
    height: 16vw;
    filter: blur(0.035em) brightness(0.72);
}

.x-wing:hover {
    filter: drop-shadow(0 0 28px rgba(0, 0, 255, 1.4)) brightness(1);
}

.description-container {
    position: absolute;
    margin: auto;
    left: 4%;
    bottom: 8%;
    display: flex;
    flex-direction: column;
    font-family: "Oswald", sans-serif;
    color: white;
}

.description-title {
    font-size: 48px;
    font-weight: 500;
}

.description-subtitle {
    font-size: 36px;
    font-weight: 400;
}

.anchor-title {
    font-size: 56px;
    font-weight: 500;
    font-style: italic;
}

.nav-container {
    position: absolute;
    margin: auto;
    right: 4%;
    top: 4%;
    display: flex;
    padding: 0 7px 0 7px;
    border-radius: 4px;
    background: rgba(106, 104, 104, 0.7);
    opacity: 0.5;
}

.nav-container:hover {
    opacity: 1;
}

.arrow {
    height: 2vw;
    width: 2vw;
    filter: brightness(0) invert(0.8);
}

.arrow:hover {
    filter: brightness(0) invert(1);
}

.left-arrow {
    transform: rotate(-90deg);
}

.right-arrow {
    transform: rotate(90deg);
}   

.home-arrow {
    height: 5vw;
    width: 7vw;
}