* {
    margin: 0; padding: 0;
}

.scroll-container {
    width: 100vh;
    height: 100vw;
    position: absolute;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display:none;
}

.content-container {
    display: flex;
    flex-direction: row;
    width: 600vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.content-block {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.one {
    background: url("images/space.jpg") center center no-repeat local;
    position: relative;
}

.two {
    background: url("images/aboutME.jpg") center center no-repeat local;
}

.three {
    background: url("images/aboutME.jpg") center center no-repeat local;
}

.four {
    background: url("images/aboutME.jpg") center center no-repeat local;
}

.gradient-filter {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgba(111, 0, 0, 0.25), rgba(4, 2, 0, 0.3), rgba(24, 0, 69, 0.2));
}

.death-star-container {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
}

.death-star {
    width: 10vw;
    height: 10vw;
    filter: blur(0.01em) brightness(0.79);
}

.millenium-falcon-container {
    position: absolute;
    margin: auto;
    left: 39%;
    top: 62%;
    transform: translate(-61%, -38%) scaleX(-1) rotate(79deg) !important;
}

.millenium-falcon {
    width: 6vw;
    height: 6vw;
    filter: blur(0.025em) brightness(0.66);
}

.left-tie-container {
    position: absolute;
    margin: auto;
    left: 22%;
    top: 32%;
    transform: translate(-78%, -68%) scaleX(-1) rotate(3deg) !important;
}

.left-tie {
    width: 20vw;
    height: 20vw;
    filter: blur(0.04em) brightness(0.69);
}

.right-tie-container {
    position: absolute;
    margin: auto;
    left: 75%;
    top: 68%;
    transform: translate(-25%, -42%) rotate(-6deg) !important;
}

.right-tie {
    width: 28vw;
    height: 28vw;
    filter: blur(0.02em) brightness(0.82);
}

.x-wing-container {
    position: absolute;
    margin: auto;
    left: 58%;
    top: 38%;
    transform: translate(-42%, -62%) rotate(-3deg) !important;
}

.x-wing {
    width: 4vw;
    height: 4vw;
    filter: blur(0.035em) brightness(0.52);
}